<!DOCTYPE html>
<html>

<head>
    <title>Scan History</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>
    <h2>🛡️ SentinelOS</h2>

    <a href="/">Home</a>
    <a href="/scanner">File Scanner</a>
    <a href="/phone">Phone Validator</a>
    <a href="/password">Password Checker</a>
    <a href="/history">Scan History</a>
    <a href="/hash">SHA-256 Hash</a>
    <a href="/integrity">Integrity Checker</a>
</nav>

<div class="container">

    <h1>📜 Scan History</h1>

    <table border="1" cellpadding="10">

        <tr>
            <th>ID</th>
            <th>File Name</th>
            <th>Status</th>
            <th>Scanned At</th>
            <th>Action</th>
        </tr>

        {% for row in history %}

        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>

            <td>
                {% if row[3] %}
                    {{ row[3] }}
                {% else %}
                    Old Record
                {% endif %}
            </td>

            <td>
                <form action="/delete-scan/{{ row[0] }}"
                      method="POST"
                      onsubmit="return confirm('Are you sure you want to delete this scan record?');">

                    <button type="submit">
                        🗑️ Delete
                    </button>

                </form>
            </td>
        </tr>

        {% endfor %}

    </table>

</div>

</body>

</html>