<!DOCTYPE html>
<html>

<head>

    <title>SentinelOS</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<nav>

    <h2>🛡️ SentinelOS</h2>

    <a href="/">Home</a>
    <a href="/scanner">File Scanner</a>
    <a href="/phone">Phone Validator</a>
    <a href="/password">Password Checker</a>
    <a href="/history">Scan History</a>

</nav>

<h2>Features</h2>

<div class="cards">

    <div class="card">

        <h3>📁 File Scanner</h3>

        <p>Scan suspicious files for threats.</p>

        <a href="/scanner">
            <button>Open</button>
        </a>

    </div>

    <div class="card">

        <h3>📞 Phone Validator</h3>

        <p>Validate 10-digit phone numbers.</p>

        <a href="/phone">
            <button>Open</button>
        </a>

    </div>

    <div class="card">

        <h3>🔑 Password Checker</h3>

        <p>Check password strength.</p>

        <a href="/password">
            <button>Open</button>
        </a>

    </div>

    <div class="card">

        <h3>📜 Scan History</h3>

        <p>View all scanned files.</p>

        <a href="/history">
            <button>Open</button>
        </a>

    </div>

</div>

</body>

</html>