<!DOCTYPE html>
<html>

<head>
    <title>SentinelOS</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>
    <h2>🛡️ SentinelOS</h2>

    <a href="/">Home</a>
    <a href="/scanner">File Scanner</a>
    <a href="/phone">Phone Validator</a>
    <a href="/password">Password Checker</a>
    <a href="/history">Scan History</a>
    <a href="/hash">SHA-256 Hash</a>
    <a href="/integrity">Integrity Checker</a>
</nav>


<!-- DASHBOARD STATISTICS -->

<h1>🛡️ Security Dashboard</h1>

<div class="cards">

    <div class="card">
        <h3>📊 Total Scans</h3>
        <h2>{{ total_scans }}</h2>
    </div>

    <div class="card">
        <h3>✅ Safe Files</h3>
        <h2>{{ safe_files }}</h2>
    </div>

    <div class="card">
        <h3>⚠️ Dangerous Files</h3>
        <h2>{{ dangerous_files }}</h2>
    </div>

</div>


<br>


<!-- FEATURES -->

<h2>Features</h2>

<div class="cards">

    <div class="card">
        <h3>📁 File Scanner</h3>
        <p>Scan suspicious files for threats.</p>

        <a href="/scanner">
            <button>Open</button>
        </a>
    </div>


    <div class="card">
        <h3>📞 Phone Validator</h3>
        <p>Validate 10-digit phone numbers.</p>

        <a href="/phone">
            <button>Open</button>
        </a>
    </div>


    <div class="card">
        <h3>🔑 Password Checker</h3>
        <p>Check password strength.</p>

        <a href="/password">
            <button>Open</button>
        </a>
    </div>


    <div class="card">
        <h3>📜 Scan History</h3>
        <p>View all scanned files.</p>

        <a href="/history">
            <button>Open</button>
        </a>
    </div>


    <div class="card">
        <h3>🔐 SHA-256 Hash Generator</h3>
        <p>Generate a unique SHA-256 hash for any file.</p>

        <a href="/hash">
            <button>Open</button>
        </a>
    </div>


    <div class="card">
        <h3>🛡️ File Integrity Checker</h3>
        <p>Check whether a file has been modified.</p>

        <a href="/integrity">
            <button>Open</button>
        </a>
    </div>

</div>

</body>

</html>