<!DOCTYPE html>
<html>

<head>
    <title>File Scanner</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>
    <h2>🛡️ SentinelOS</h2>

    <a href="/">Home</a>
    <a href="/scanner">File Scanner</a>
    <a href="/phone">Phone Validator</a>
    <a href="/password">Password Checker</a>
</nav>

<div class="container">

    <h1>📁 File Scanner</h1>

    <form action="/scan" method="POST" enctype="multipart/form-data">

        <input type="file" name="file" required>

        <br><br>

        <button type="submit">Scan File</button>

    </form>

    {% if result %}
        <h2>{{ result }}</h2>
    {% endif %}

</div>

</body>

</html>